.thankYouContainer {
    text-align: center;
    padding: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
    margin-top: 50px;
  }
  .thankYouContainer>p{
    color: black;
  }

  h2 {
    color: #28a745;
  }
  
  .homeButton {
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .homeButton:hover {
    background: #0056b3;
  }
  .successMessage {
    color: black;
  }
  .continueShoppingButton {
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
  }
  
  .continueShoppingButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  